.inicial img  {
    width: 18.5%;
    display: block;
    margin: auto;
    border: 10px solid rgb(0, 0, 0); /* Borda preta */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); /* Sombra com desfoque */

}

.inicial h1 {
    background-color: #5F9EA0;
    padding: 0.5%;

}