.img {
  padding: 0% 3%;
  display: flex;
  margin-top: 50px;
}

.inicial img {
  width: 18.5%;
  align-items: left;
  gap: 0px 0px 0px 5px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);

}

.inicial h1 {
  background-color: #d30505;
  padding: 0.5%;
  color: white;
  text-shadow: -2px 2px 0 #000;
}

.information {
  background-color: #5F9EA0;
  padding: 10%;
  font-size: 20px;
}


