.information-text {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF5EE;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.information-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.information-text p {
    font-size: 16px;
    line-height: 1.5;
}
