/* footer.css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #5f9ea0;
    text-align: center;
    padding: 2px 0;
}

.footer p {
    margin: 2px 0;
}

.footer .contact-title {
    font-weight: bold;
    font-size: 18px;
}

