/* footer.css */
.footer {
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    text-shadow: -2px 2px 0 #000;
    background: linear-gradient(to left, #500101, #d30000);
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer li {
    margin: 0 15px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    
  }
  
  .footer a:hover {
    color: #ffcc00;
    transform: scale(1.1);
  }
  .rights {
    font-size: 10px;
    color: white;
  }
  .footer-Email{
    text-align: center;
    color: white;
    font-size: 10px;
  }
  