.image-gallery {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    gap: 150px;
    margin-top: 100px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 15%; /* Ajuste conforme necessário */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adicione margem superior conforme necessário */
}

.contact-buttons a:hover {
    transform: scale(1.1); /* Adiciona efeito de zoom quando o mouse está sobre o botão */
}

.contact-buttons button {
    background-color: #3b3b3bee;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Adiciona transição suave ao efeito de zoom */
    text-shadow: 5px 5px 5px #000; /* Adiciona uma sombra preta ao redor do texto */

}

.contact-buttons button:hover {
    transform: scale(1.1); /* Adiciona efeito de zoom quando o mouse está sobre o botão */
}
