.email-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.email-form-container input{
    justify-content: center;
    width: 300px;
    display: flex;
}
.email-form-container textarea {
    width: 300px;
}
.email-form-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
