
.image-gallery {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    gap: 150px;
    margin-top: 70px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 15%; /* Ajuste conforme necessário */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5px; /* Adicione margem superior conforme necessário */
}

.contact-buttons a:hover {
    transform: scale(1.1); /* Adiciona efeito de zoom quando o mouse está sobre o botão */
}

.contact-buttons button {
    background-color: #e74c3c; /* Cor de fundo vermelha */
    color: white; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Transição suave na mudança de cor de fundo */
}

.contact-buttons button:hover {
    background-color: #c0392b; /* Cor de fundo vermelha mais escura ao passar o mouse */
    color: white; /* Cor do texto branco ao passar o mouse */
}
